.DS_Store
.dart_tool/

.packages
.pub/
build/

*.g.dart
*.idea
private_key.pepk
./example/android/app/100msKeyStore
100msKeyStore
example/ios/Runner.app.dSYM.zip
example/ios/Runner.ipa
launch.json
./documentation