name: KtLint

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**/*.kt"

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: read-all

jobs:
  SwiftLint:
    runs-on: ubuntu-latest

    permissions:
      checks: write

    steps:
      - name: Install ktlint
        run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/0.44.0/ktlint && chmod a+x ktlint && sudo mv ktlint /usr/local/bin/

      - name: Run ktlint
        run: |
          ktlint --reporter=checkstyle,output=build/ktlint-report.xml
        continue-on-error: true

      - uses: yutailang0119/action-ktlint@v3
        with:
          report-path: build/*.xml
        continue-on-error: false
